@{
    ViewData["Title"] = "All Profiles";
}

<h1>@ViewData["Title"]</h1>

@foreach (var Data in Model)
{
    <form>
        <input type="hidden" name="ProfileID" value="@Data.ProfileID" />
        <button method="post" asp-action="ViewProfile" asp-controller="Home">@Data.ProfileID. @Data.FirstName @Data.LastName</button>
    </form>
}