@{
    ViewData["Title"] = Model.Name + "'s Profile";

    string location = Model.Location;
    string[] locationArray = location.Split(',');
    string city = locationArray[0];
    string county = locationArray[1];
    string country = locationArray[2];

    string name = Model.Name;
    string[] nameArray = name.Split(' ');
    string firstName = nameArray[0];
    string lastName = nameArray[1];

    string favActivities = Model.FavouriteActivities;
    string[] activities = favActivities.Split(", ");
}

<div id="profileHeader">
    <img id="profileImage" src="@Model.ProfileImageUrl" alt="Profile Image" />
    <h1>@ViewData["Title"]</h1>
</div>

<div>
    <form method="post" asp-action="UpdateProfile" asp-controller="Home">
        <input type="hidden" name="ProfileID" value="@Model.ProfileID" />

        <h2>First Name</h2>
        <input type="text" name="FirstName" value="@firstName" />

        <h2>Last Name</h2>
        <input type="text" name="LastName" value="@lastName" />

        <h2>About Me</h2>
        <input type="text" name="AboutMe" value="@Model.AboutMe"/>

        <h2>Email</h2>
        <input type="text" name="Email" value="@Model.Email" readonly style="background-color: #f2f2f2; color: #999; cursor: not-allowed;" />

        <h2>Location</h2>
        <p>City</p>
        <input type="text" name="City" value="@city" />

        <p>County</p>
        <input type="text" name="County" value="@county" />

        <p>Country</p>
        <input type="text" name="Country" value="@country" />

        <h2>Height</h2>
        <input type="number" name="Height" value="@Model.Height" />

        <h2>Weight</h2>
        <input type="number" name="Weight" value="@Model.Weight" />

        <h2>Birthday</h2>
        <input type="date" name="Birthday" value="@Model.Birthday" />

        <h2>Language</h2>
        <input type="text" name="Langauge" value="@Model.Langauge" />

        <h2>Favourite Activities</h2>
        <label><input type="checkbox" name="FavouriteActivities" value="Running" @(activities.Contains("Running") ? "checked" : "")> Running</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Cycling" @(activities.Contains("Cycling") ? "checked" : "")> Cycling</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Swimming" @(activities.Contains("Swimming") ? "checked" : "")> Swimming</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Hiking" @(activities.Contains("Hiking") ? "checked" : "")> Hiking</label>
        <label><input type="checkbox" name="FavouriteActivities" value="Walking" @(activities.Contains("Walking") ? "checked" : "")> Walking</label>

        <input type="submit" value="Submit" class="submit"/>
    </form>
</div>