@{
    ViewData["Title"] = Model.Name + "'s Profile";
    bool ownsProfile = COMP2001_JBott.Controllers.HomeController.ownsProfile;
    bool isAdmin = COMP2001_JBott.Controllers.HomeController.isAdmin;
}

<div id="profileHeader">
    <img id="profileImage" src="@Model.ProfileImageUrl" alt="Profile Image"/>
    <h1>@ViewData["Title"]</h1>
</div>

<div>
    <h2>About Me</h2>
    <p>@Model.AboutMe</p>

    @if (ownsProfile)
    {
        <h2>Email</h2>
        <p>@Model.Email</p>

        <h2>Location</h2>
        <p>@Model.Location</p>

        <h2>Height</h2>
        <p>@Model.Height</p>

        <h2>Weight</h2>
        <p>@Model.Weight</p>

        <h2>Birthday</h2>
        <p>@Model.Birthday</p>

        <h2>Language</h2>
        <p>@Model.Langauge</p>
    }

    <h2>Favourite Activities</h2>
    <p>@Model.FavouriteActivities</p>
</div>

<div>
    @if (ownsProfile)
    {
        <form>
            <input type="hidden" name="ProfileID" value="@Model.ProfileID"/>
            <button method="post" asp-action="EditProfile" asp-controller="Home">Edit Profile</button>
        </form>
    }
    @if (isAdmin)
    {
        <form>
            <input type="hidden" name="ProfileID" value="@Model.ProfileID" />
            <button method="post" asp-action="DeleteProfile" asp-controller="Home">Delete Profile</button>
        </form>
    }
</div>